<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- jQuery UI -->
<script src="/vendor/jquery/jquery-ui.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Polyfill for Bootstrap Affix plugin -->
<script src="/vendor/scrollPosStyler/scrollPosStyler.min.js"></script>



<!-- Plugin JavaScript -->
<script src="/vendor/jquery.easing-1.4.1/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="/assets/js/jqBootstrapValidation.js"></script>
<!-- <script src="/assets/js/contact_me.js"></script> -->

<!-- Leave this last as it contains the document.onload function -->
<script src="/js/xritalia.js"></script>
