.post-container {
  margin-top: 125px;
  @include media-query($on-laptop) {
    margin-top: 70px;
  }
}

p.post-meta {
  @include serif-font;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  text-align:right;
}

.event-title {
  font-size: 1.4vw;
  @include media-query($on-laptop) {
    font-size: 4vw;
  }
}
article.evenement {
  .event-venue, .event-date {
    @include heading-font;
    font-weight: normal;
    display: block;
    font-size: 2vw;
    @include media-query(1024px) {
      font-size: 3vw;
    }
    @include media-query($on-laptop) {
      font-size: 4vw;
    }
    @include media-query($on-palm) {
      font-size: 6vw;
    }
  }
}
.event-venue, .event-date {
  @include heading-font;
  font-weight: normal;
  display: block;
  font-size: 1.4vw;
  @include media-query(1024px) {
    font-size: 3vw;
  }
  @include media-query($on-laptop) {
    font-size: 4vw;
  }
}

.event-image {
  overflow: hidden;
  height: 300px;
  img {
    width: 100%;
  }
  @include media-query($on-large) {
    height: 220px;
  }
  @include media-query($on-laptop) {
    height: 200px;
  }
  @include media-query($on-palm) {
    height: 150px;
  }
}

.event-button {
  margin-bottom: 35px;
}

article.evenement {
  div.categories {
    a {
      @include heading-font;
    }
  }
  ol.big-numbers-list {
    padding-left: 50px;
  }
}

.img-left {
  float: left;
  margin-right: 15px;
  margin-top: 11px;
  max-width: 200px;
  @include media-query($on-palm) {
    float: none;
    width: 100%;
    max-width: 100%;
  }
}
