@font-face {
    font-family: 'FucXed';
    /* Upload fonts on your own server and replace urls with your own. */
    src: url('/assets/fonts/FucXedLatin/FUCXEDCAPSLatin-Regular.woff') format('woff'), url('/assets/fonts/FucXedLatin/FUCXEDCAPSLatin-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3 {
    font-family: "FucXed", sans-serif;
    text-transform: uppercase;
}
